__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints

# Logs and temporary files
*.log
.cache

# RVC specific
/TEMP
/opt
/tools/aria2c/
tools/flag.txt
/pretrained
/pretrained_v2
/uvr5_weights
hubert_base.pt
rmvpe.pt
rmvpe.onnx
/logs
/weights
.tool-versions
/runtime
ffmpeg.*
ffprobe.*

# Spark specific
spark/pretrained_models/
spark/results/
spark/demo/
spark/.gradio/
spark/webui_test.py
spark/example